numpy>=1.18.5,<1.24.0
cython
scipy
shapely
timm
h5py
wandb
fire
opencv-python
pandas
ftfy
regex
tqdm
gdown
# Torch
--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.10.1+cu113
torchvision==0.11.2+cu113

# Detectron
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cu113/torch1.10/index.html
detectron2

# Segment-anything
git+https://github.com/facebookresearch/segment-anything.git

# open_clip
open_clip_torch==1.3.0

# SEEM env
kornia==0.6.4
nltk
transformers==4.19.2
git+https://github.com/openai/whisper.git
git+https://github.com/arogozhnikov/einops.git


# yolov8
ultralytics